<div class="container main-container">
	<div class="row">
		<div class="col-md-8 col-md-offset-3">
<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h1>

<div class="message" style="width: 400px;">
	<% @chats.each do |chat| %>
		<% if chat.user_id == current_user.id %>
			<p style="text-align: right;">
				<%= chat.created_at.strftime('%m/%d') %>
				<%= attachment_image_tag current_user, :profile_image, format: 'jpg', size: "25x25", fallback: "human.jpg", class: "img-circle", style: "border:3px solid #F8E3F0;" %>
				<%= chat.message %></p>
		<% else %>
			<p style="text-align: left;">
				<%= attachment_image_tag chat.user, :profile_image, format: 'jpg', size: "25x25", fallback: "human.jpg", class: "img-circle", style: "border:3px solid #F8E3F0;" %>
				<%= chat.message %></p>
    	<% end %>
  	<% end %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
	<%= f.text_field :message %>
	<%= f.hidden_field :room_id %>
	<%#= f.hidden_field :user_id,value:@user.id %>
<% end %>
</div>
</div>
</div>