<table class="table table-hover">
	<thead>
		<tr>
			<th>Day</th>
			<th>Name</th>
			<th>Title</th>
			<th>Favorite</th>
			<th>Comment</th>
		</tr>
	</thead>
	<tbody>
		<% diaries.each do |diary| %>
			<tr>
				<td>
					<%= diary.created_at.strftime('%m/%d') %>
				</td>
				<td class="long-td">
					<%= link_to user_path(diary.user), class: "name-link" do %>
						<%= diary.user.name %>
					<% end %>
				</td>
				<td class="title-td long-td">
					<%= link_to diary.title, diary_path(diary), class: "title-link" %>
				</td>
				<td class="diary_<%= diary.id %>">
					<%= render 'user/diaries/favorite', diary: diary, favorites: diary.favorites %>
				</td>
				<td>
					<%= diary.diary_comments.count %>件
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<div class="paging">
	<%= paginate diaries %>
</div>