<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Title</th>
			<th>Favorite</th>
			<th>Comment</th>
			<th>Follow</th>
		</tr>
	</thead>
	<tbody>
		<% diaries.each do |diary| %>
		<tr>
			<td><%= diary.user.name %></td>
			<td>
				<%= link_to diary.title, diary_path(diary) %>
			</td>
			<td class="diary_<%= diary.id %>">
				<!-- 階層を分けているのでuser/diaries/favoriteのように詳しく記述する必要がある。 -->
				<!-- diaryを定義できていないとエラー表示があったので、render内でdiaryの記述を追加した。 -->
				<%= render 'user/diaries/favorite', diary: diary, favorites: diary.favorites %>
			</td>
			<td><%= diary.diary_comments.count %>件</td>
			<td><%= render 'user/diaries/follow', user: diary.user %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= paginate diaries %>