<div class="container main-container">
	<div class="row">
		<div class="col-md-3">
			<%= render 'user/users/profile', user: @user %>
		</div>
		<div class="col-md-9">
			<div class="diary_content">
				<%= @diary.title %>
				<%= attachment_image_tag @diary, :image, :fill, 250, 250, format: 'jpg' %>
				<%= @diary.body %>

				<%= link_to 'Edit', edit_diary_path(@diary) %>
				<span id="diary_<%= @diary.id %>">
					<%= render 'favorite', diary: @diary, favorites: @diary.favorites %>
				</span>
				<%= render 'comment', diary_comments: @diary.diary_comments %>
				<%= form_with model:[@diary, @diary_comment], method: :post do |f| %>
					<%= f.text_area :comment, placeholder: "コメントをここに" %>
					<%= f.submit "Comment Up" %>
				<% end %>
			</div>
		</div>
	</div>
</div>