<table class="table">
	<%= attachment_image_tag user, :profile_image, format: 'jpg', size: "130x110", fallback: "human.jpg", class: "img-circle", style: "border:3px solid #F8E3F0;" %>
	<tr>
		<th>Name</th>
		<th><%= user.name %></th>
	</tr>
	<tr>
		<th>Age</th>
		<th><%= user.age %></th>
	</tr>
	<tr>
		<% if current_user != user %>
			<th>
				<%= link_to 'Chat Room', chat_path(user.id) %>
			</th>
			<th></th>
		<% end %>
	</tr>
	<tr>
		<th>Introduction</th>
		<th><%= user.introduction %></th>
	</tr>
</table>
<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-cog edit_user_#{user.id}" %>