<table class="table">
	<%= attachment_image_tag user, :profile_image, format: 'jpg', size: "130x110", fallback: "human.jpg", class: "img-circle", style: "border:3px solid #F8E3F0;" %>
	<tr>
		<th>Name</th>
		<th><%= user.name %></th>
	</tr>
	<tr>
		<th>Age</th>
		<th><%= user.age %></th>
	</tr>
	<tr>
		<% if current_user != user %>
			<th>
				Chat Room
			</th>
			<th>
				<%= link_to 'Link', chat_path(user) %>
			</th>
		<% end %>
	</tr>
	<tr>
		<th>Introduction</th>
		<th><%= user.introduction %></th>
	</tr>
	<tr>
		<th>Notice</th>
		<th><%= link_to '通知', notifications_path %>
			 <% if unchecked_notifications.any? %>
    			<i class="fa fa-circle notification-circle" ></i>
  			<% end %>
		</th>
	</tr>
	<tr>
		<th>follows</th>
		<th><%= link_to user.follower.count, user_follows_path(user) %></th>
	</tr>
	<tr>
		<th>followers</th>
		<th><%= link_to user.followed.count, user_followers_path(user) %></th>
	</tr>
</table>
<%= render 'user/diaries/follow', user: @user %>
<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-cog edit_user_#{user.id}" %>