<table class="table">
	<thead>
		<tr>
			<th>Image</th>
			<th>Name</th>
			<th class="follow-th">Follow</th>
			<th class="follow-th">Follower</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% users.each do |user| %>
			<tr>
				<td>
					<%= attachment_image_tag user, :profile_image, format: 'jpg', size: "30x30", fallback: "human.jpg", class: "img-circle" %>
				</td>
				<td>
					<%= link_to user.name, user_path(user), class: "btn-link" %>
				</td>
				<td>
					<%= user.follower.count %>
				</td>
				<td>
					<%= user.followed.count %>
				</td>
				<td>
          			<% if current_user != user %>
           				<% if current_user.following?(user) %>
              				<%= link_to 'Unfollow', user_relationships_path(user), method: :delete, class: "btn btn-default follow-btn" %>
            			<% else %>
              				<%= link_to 'Follow me', user_relationships_path(user), method: :post, class: "btn btn-default follow-btn" %>
            			<% end %>
          			<% end %>
        		</td>
			</tr>
		<% end %>
	</tbody>
</table>
<div class="paging">
	<%= paginate users %>
</div>