<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2><%= @user.name %>さんのDiary一覧</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Days</th>
						<th>Title</th>
						<th></th>
					</tr>
				</thead>
				<% @diaries.each do |diary| %>
					<tbody>
						<tr>
							<td><%= diary.created_at.strftime('%Y/%m/%d') %></td>
							<td><%= diary.title %></td>
							<td>
								<%= link_to 'Show', admin_user_diary_path(diary.user, diary), class: "btn-link" %>
								<%#= #ネストしていることもあり詳しい情報を欲しいと言われたので、diary.userとdiaryの二つを入れた。 %>
							</td>
						</tr>
					</tbody>
				<% end %>
			</table>
			<div class="paging">
				<%= paginate @diaries %>
			</div>
		</div>
	</div>
</div>
