<div class="container main-container">
	<div class="row">
		<div class="col-md-7 col-md-offset-3">
			<h2>Edit User</h2>
			<table class="table user-table">
				<tr>
					<td class="left-td">ID</td>
					<td class="right-td"><%= @user.id %></td>
				</tr>
				<tr>
					<td class="left-td">Name</td>
					<td class="right-td"><%= @user.name %></td>
				</tr>
				<tr>
					<td class="left-td">Email</td>
					<td class="right-td"><%= @user.email %></td>
				</tr>
				<tr>
					<td class="left-td">Address</td>
					<td class="right-td"><%= @user.postal_code %><br>
						<%= @user.prefecture_code %><%= @user.city %><%= @user.street %>
					</td>
				</tr>
				<tr>
					<td class="left-td">Age</td>
					<td class="right-td"><%= @user.age %></td>
				</tr>
				<tr>
					<td class="left-td">Status</td>
					<td class="right-td"><% if @user.is_active %>
							<span>有効会員</span>
						<% else %>
							<span>無効会員</span>
						<% end %>
					</td>
				</tr>
			</table>
			<%= link_to 'Edit', edit_admin_user_path(@user), class: "btn btn-default edit-btn" %>
		</div>
	</div>
</div>
