<!DOCTYPE html>
<html>
  <head>
    <title>MamasukuApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header class="top-head">
      <div class="nav-image">
        <%= image_tag 'logo.jpg', style: "width:200px; height:200px;" %>
      </div>
      <nav class="nav">
        <ul class="nav-list">
          <% if request.url.include?('admin') %>
            <% if admin_signed_in? %>
              <li><%= link_to 'Top', admin_top_path, class: "nav-link" %></li>
              <li><%= link_to 'User Page', admin_users_path, class: "nav-link" %></li>
              <li><%= link_to 'Contact', admin_contacts_path, class: "nav-link" %></li>
              <li><%= link_to 'Log Out', destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
            <% else %>
              <li><%= link_to 'About', homes_about_path, class: "nav-link" %></li>
              <li><%= link_to 'User Page', root_path, class: "nav-link" %></li>
              <li><%= link_to 'Log In', new_admin_session_path, class: "nav-link" %></li>
            <% end %>
          <% elsif user_signed_in? %>
              <li><%= link_to 'Diary', diaries_path, class: "nav-link" %></li>
              <li><%= link_to 'New', new_diary_path, class: "nav-link" %></li>
              <li><%= link_to 'My Page', user_path(current_user), class: "nav-link" %></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li><%= link_to 'Top', root_path, class: "nav-link" %></li>
            <li><%= link_to 'About', homes_about_path, class: "nav-link" %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %></li>
            <li><%= link_to 'Log In', new_user_session_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <% if user_signed_in? %>
      <%= search_form_for @search, url: search_path do |f| %>
        <div class="control-group text-center">
        <!-- @diaryをsearchコントローラで定義しているのでbodyはそのままのカラム名でok,nameはテーブルメイから記述 -->
        <!-- diaryとuserはリレーションであるため、このような検索をすることができる -->
          <% f.label :body_or_user_name_cont, 'キーワード' %>
        <!-- orにすることでどちらかで検索することができる -->
          <%= f.text_field :body_or_user_name_cont, placeholder: "キーワード検索" %>
          <% f.label :user_age_eq %>
        <!-- eqがないとransackの機能として使用できない -->
          <%= f.select :user_age_eq, [["20代未満", "20代未満"], ["20代前半", "20代前半"], ["20代後半"], ["30代", "30代"], ["40代", "40代"], ["50代", "50代"], ["60代", "60代"]], include_blank: "選択してください" %>
          <%= f.submit 'Search', class: "btn btn-default" %>
        </div>
      <% end %>
    <% end %>
    <p id="notice"><%= notice %></p>
    <div id="wrapper">
    <main>
    <%= yield %>
    </main>
    </div>
    <footer>
      <div class="footer-content">
        ©︎2020 MamaSuku Inc. All rights reserved.
      </div>
      <% if user_signed_in? %>
        <%= link_to 'Contact', new_contact_path, class: "footer-link" %><br>
        <%= link_to 'Withdrawal', leave_path, class: "footer-link" %>
      <% end %>

    </footer>
  </body>
</html>
